@font-face {
  font-family: "Heebo";
  src: url(/assets/fonts/Heebo-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url(/assets/fonts/Lora-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Lora Italic";
  src: url(/assets/fonts/Lora-Italic-VariableFont_wght.ttf) format("truetype");
}
